@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes-dark';
@import 'code';
@import 'report';
@import 'technologies-dark';
@import 'two_column_layout';
@import 'technology';
@import 'responsive';
@import 'analysis-dark';
@import 'analysis_report-dark';



@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}

body {
    background-color: $background-color-dark;
}

* {
    color: $font-color-dark;
}

.header, .site-header {
    display: flex;
    justify-content: space-between;
}
.main {
    max-width: 800px;
    margin: auto;

}
.footer {
    margin-left: 5px;
    margin-top: 2px;
}
.img {
    width: 50%;
    height: auto;
    filter: brightness(.8) contrast(1.2);
}
.erik {
    display: block;
    float:inline-end;
    margin: 2px;
    filter: brightness(.8) contrast(1.2);
}
code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: none;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}
pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: grey;
}