$font-color: #000;

$background-color: whitesmoke;
$background-color-analysis: white;
$border-color: black;

// Dark Theme
$background-color-dark: rgb(65, 65, 65);
$background-color-analysis-dark: grey;
$border-color-dark: black;
$font-color-dark:rgb(240, 240, 240);